MARIADB_DATABASE=smartown
MARIADB_USER=smartown
MARIADB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-me
MARIADB_PORT=3306
MQTT_USERNAME=smartown
MQTT_PASSWORD=replace-with-strong-password
MQTT_PORT=1883
BACKEND_PORT=8080
APP_PORT=8081

SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/smartown
SPRING_DATASOURCE_USERNAME=smartown
SPRING_DATASOURCE_PASSWORD=change-me
