MARIADB_DATABASE=smartown
MARIADB_USER=smartown
MARIADB_PASSWORD=smartown_dev_password
MARIADB_ROOT_PASSWORD=smartown_root_dev_password
MARIADB_PORT=3306
MQTT_USERNAME=smartown
MQTT_PASSWORD=mqttPw
MQTT_PORT=1883
BACKEND_PORT=8080
FRONTEND_PORT=8081

SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/smartown
SPRING_DATASOURCE_USERNAME=smartown
SPRING_DATASOURCE_PASSWORD=smartown_dev_password